body {
  background-color:#000000;
}

* {
  margin: 0;
}

div.mandala{
  width:500px;
  height:500px;
  color:white;
  text-align:center;
  background: url(mandala.gif) no-repeat center center;
  background-size: 100%;
  z-index:0;
}

div.mandala2{
  width:300px;
  height:300px;
  color:white;
  text-align:center;
  background: url(mandala.gif) no-repeat center center;
  background-size: 100%;
  z-index:1;
}

div.mandala3{
  width:100px;
  height:100px;
  color:white;
  text-align:center;
  background: url(mandala.gif) no-repeat center center;
  background-size: 100%;
  z-index:2;
}
